.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins, sans-serif";
  font-size: 3em;
  height: 122px;
  background-color: #0057ff;
}

.loginn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins, sans-serif";
  font-size: 3em;
  height: 122px;
  background-color: #626262;
}

.button1 {
  display: flex;
  font-size: 15px;
  background-color: #00188F;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 50px;
  width: 150px;
}

.divbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}